# === Python ===
__pycache__/
*.py[cod]
*.so
*.egg-info/
.env
.venv/
venv/
*.db
*.sqlite3

# === Jupyter Notebooks ===
.ipynb_checkpoints/

# === VS Code ===
.vscode/
.history/

# === Mac/Windows systèmes ===
.DS_Store
Thumbs.db

# === Data science / Astro-specific ===
# Ignore all raw data, processed data, models, logs, etc.
data/
data/raw/**
data/raw_backup/**
data/processed/**
data/logs/**
logs/
reports/
archive/
models/
*.fits
*.fits.gz
*.pkl
static/images/
/data/catalog/trained_spectra.csv
delta_ms_poly_coeffs.npy

# === Output, figures, temporary files ===
*.tmp
*.out

# === Notion, idées, doc privée ===
notes/
*.md~
learn_error.tsv
time_left.tsv
events.out.tfevents
catboost_training.json

# Output, figures, temporary files
outputs/
figures/
tmp/

# JetBrains / PyCharm
.idea/
*.iml

# Node / Docusaurus
node_modules/
**/node_modules/
.docusaurus/
build/
.cache/