# Dépendances spécifiques pour le déploiement de l'application Streamlit.

# --- Noyau de l'Application ---
streamlit
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4

# --- Librairies d'Astrophysique ---
astropy
specutils

# --- Visualisation Backend ---
plotly
ipywidgets
seaborn

# --- Utilitaires ---
requests
beautifulsoup4
tqdm
scikit-learn
